$main-bg-color: #131313;
$main-font: "Montserrat", sans-serif;
$second-font: "Mulish", sans-serif;
$button-color: #c2ab81;
$button-hover-text-color: #131313;
$light-text-color: #fff;
$card-dark-color: #171717;
$card-black-color: #666;
$card-button-bg-color: #171717;
$card-bg-color: #fff;
$scrollbar-track-color: #171717;
$scrollbar-thumb-color: #c2ab81;
$mobile-nav-item-color: #131313;
$mobile-nav-item-stroke: #808080;
$nav-hover-color: #c2ab81;
$card-button-hover-bg-color: #fff;
$card-button-hover-border-color: #c2ab81;
$card-button-hover-text-color: #c2ab81;
$modal-bg-color: #fff;
$cross-stroke-color: #c2ab81;
$modal-shadow-color: #c2ab81;
$modal-text-color: #171717;
$modal-inputs-border-color: #131313;
$modal-inputs-focus-border-color: #c2ab81;
$modal-button-hover-bg-color: green; 
